<launch>	
	<include file="$(find airsim_car_ros_pkgs)/launch/airsim_node.launch" />

	<!-- Static transforms -->
	<include file="$(find airsim_car_ros_pkgs)/launch/static_transforms.launch"/>

	<!-- Stock ROS joystick driver. -->
    <node name="joystick" pkg="joy" type="joy_node">
      <param name="dev" value="/dev/input/js0"/>
	  <rosparam command="load" file="$(find airsim_car_ros_pkgs)/config/ps4joy.yaml" />
	</node>

	<node name="airsim_ps_joy" pkg="airsim_car_ros_pkgs" type="airsim_ps_joy" output="screen" />
</launch>
