<launch>
	<node name="airsim_node" pkg="airsim_car_ros_pkgs" type="airsim_car_node" output="screen">
    <rosparam>
      imu_calibration: 0.93
      speed_calibration: 0.85
    </rosparam>
		!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="is_vulkan" type="bool" value="false" /> 
		<param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="0.02" />
		<param name="update_lidar_every_n_sec" type="double" value="0.05" />

		<remap from="/airsim_node/PhysXCar/odom_local_enu" to="/odom"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="ned_to_enu_pub" args="0 0 0 1.57 0 3.14 world_ned world_enu 100"/>

  <node pkg="shell_simulation" 
  			name="car_control"
  			type="car_control"
  			output="screen"
 	/>

 	<node pkg="shell_simulation"
 				name="image_process"
 				type="image_process"
 				output="screen"
 	/>

</launch>